<section class="py-5">
  <div class="container fx-middle">
    <div class="p-4 rounded-3">
      <img priority height="32" width="154" ngSrc="assets/media/logos/Main-Logo.svg" alt="SaintStream"/>
      <p class="mb-4">Login to your account</p>
      <form [formGroup]="logIn" (ngSubmit)="submit(logIn)" #form="ngForm">
        <app-input-text formControlName="email"
        [type]="'email'" [label]="'Email'" [errors]="logIn.get('email')?.errors"
        [submitted]="form.submitted"
        [touched]="logIn.get('email')?.touched"
        [required]="logIn.get('email')?.getError('required')"
        [patternEmail]="logIn.get('email')?.getError('pattern')"></app-input-text>

        <app-input-text formControlName="password"
        [type]="'password'" [label]="'Password'" [errors]="logIn.get('password')?.errors"
        [submitted]="form.submitted"
        [touched]="logIn.get('password')?.touched"
        [required]="logIn.get('password')?.getError('required')"
        [patternPassword]="logIn.get('password')?.getError('pattern')"></app-input-text>

        <a routerLink="/auth/forgot-password" class="d-block text-center my-3">Forgot Password?</a>
        <button class="btn btn-success w-100 mb-3" type="submit">Login</button>
        <div class="text-center">
          <span>Don't have an account? </span>
          <a routerLink="/auth/sign-up">Register</a>
        </div>
      </form>
    </div>
  </div>
</section>
