<header
  [ngClass]="isBottom ? 'scroll-header' : ''"
  class="navbar navbar-expand-lg py-3 position-fixed start-0 end-0 top-0"
>
  <div class="container">
    <img
      priority
      height="32"
      width="154"
      ngSrc="assets/media/logos/Main-Logo.svg"
      alt="SaintStream"
    />
    <button
      (click)="toggleNavBar()"
      class="navbar-toggler shadow-none border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i
        style="font-size: 25px"
        class="fa-solid fa-bars-staggered text-white"
      ></i>
    </button>
    <div
      [ngClass]="isShowNav ? 'fx-column text-center' : 'd-none'"
      class="navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-lg-auto">
        <li>
          <a
            class="nav-link"
            (click)="toggleNavBar()"
            routerLink="movies"
            routerLinkActive="activeLink"
          >Movies</a>
        </li>
        <li>
          <a
            class="nav-link"
            (click)="toggleNavBar()"
            routerLink="tv-series"
            routerLinkActive="activeLink"
          >TV Series</a>
        </li>
        <li>
          <a
            class="nav-link"
            (click)="toggleNavBar()"
            routerLink="movie-release"
            routerLinkActive="activeLink"
          >Movie Release</a>
        </li>
        <li>
          <a
            class="nav-link"
            (click)="toggleNavBar()"
            routerLink="forum"
            routerLinkActive="activeLink"
          >Forum</a>
        </li>
        <li>
          <a
            class="nav-link"
            (click)="toggleNavBar()"
            routerLink="about"
            routerLinkActive="activeLink"
          >About</a>
        </li>
      </ul>
      <div class="mt-2 mt-lg-0">
        <!-- <a routerLink="auth/log-out" class="btn btn-outline-danger">Log Out</a> -->
        <!-- <a routerLink="auth/sign-up" class="btn btn-outline-light">Sign Up</a> -->
        <a
          routerLink="auth/log-in"
          class="btn btn-success"
        >Log In</a>
      </div>
    </div>
  </div>
</header>
