<section>
  <div class="container h-100 fx-middle">
    <div class="p-4 rounded-3">
      <img priority height="32" width="154" ngSrc="assets/media/logos/Main-Logo.svg" alt="SaintStream"/>
      <p class="mb-4" translate="auth.signUp.titleDescription"></p>
      <form [formGroup]="signUp" (ngSubmit)="submit(signUp)" #form="ngForm">
        <app-input-text formControlName="firstName"
        [type]="'firstName'" [label]="'firstName'" [errors]="signUp.get('firstName')?.errors"
        [submitted]="form.submitted"
        [touched]="signUp.get('firstName')?.touched"
        [required]="signUp.get('firstName')?.getError('required')"
        [patternFirstName]="signUp.get('firstName')?.getError('pattern')"></app-input-text>

        <app-input-text formControlName="email"
        [type]="'email'" [label]="'email'" [errors]="signUp.get('email')?.errors"
        [submitted]="form.submitted"
        [touched]="signUp.get('email')?.touched"
        [required]="signUp.get('email')?.getError('required')"
        [patternEmail]="signUp.get('email')?.getError('pattern')"></app-input-text>

        <app-input-text formControlName="password"
        [type]="'password'" [label]="'password'" [errors]="signUp.get('password')?.errors"
        [submitted]="form.submitted"
        [touched]="signUp.get('password')?.touched"
        [required]="signUp.get('password')?.getError('required')"
        [patternPassword]="signUp.get('password')?.getError('pattern')"></app-input-text>

        <app-input-text formControlName="confirmPassword"
        [type]="'confirmPassword'" [label]="'confirmPassword'" [errors]="signUp.get('confirmPassword')?.errors"
        [submitted]="form.submitted"
        [touched]="signUp.get('confirmPassword')?.touched"
        [required]="signUp.get('confirmPassword')?.getError('required')"
        [patternConfirmPassword]="signUp.get('confirmPassword')?.value !== signUp.get('password')?.value"></app-input-text>

        <button class="btn btn-light w-100 mb-3" type="submit" translate="auth.forms.register"></button>
        <div class="text-center">
          <span translate="auth.signUp.haveAccount"></span>
          <a routerLink="/auth/log-in" translate="auth.forms.logIn"></a>
        </div>
      </form>
    </div>
  </div>
</section>
