<main class="mb-5">
  <app-media-intro [medias]="releaseMovies" [genres]="movieGenres"></app-media-intro>
  <div class="container">
    <app-media-inset-info [title]="'home.just-release'" [medias]="releaseMovies" [genres]="movieGenres"></app-media-inset-info>
    <app-media-popular [medias]="popularMovies"></app-media-popular>
    <app-media-outset-info [title]="'home.movies'" [medias]="movies" [genres]="movieGenres"></app-media-outset-info>
    <app-media-outset-info [title]="'home.series'" [medias]="series" [genres]="tvGenres"></app-media-outset-info>
    <app-media-people [title]="'actors'" [people]="actors"></app-media-people>
    <app-media-people [title]="'actresses'" [people]="actresses"></app-media-people>
  </div>
</main>
