<section class="mb-5">
  <p-carousel dir="ltr" [value]="medias" [showNavigators]="false" [showIndicators]="true" [numVisible]="1" [numScroll]="1" [responsiveOptions]="responsiveOptions">
    <ng-template let-movie pTemplate="movie">
      <div class="poster-layer" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original'+movie.backdrop_path+')'}">
        <div class="overlay-layer fx">
          <div class="container">
            <div class="movie-info">
              <h1 class="mb-0">{{movie.title}}</h1>
              @if (movie.genre_ids){
                <div class="my-2 genres fx-wrap">
                  <p class="mb-0 fw-bold">{{movie.release_date}}</p>
                  @for (movie_genre of movie.genre_ids.slice(0,4); track $index){
                    @for (genre of genres; track $index){
                      @if (genre.id === movie_genre){
                        <span class="ps-1 fw-bold ms-1 border-2 border-start">{{genre.name}}</span>
                      }
                    }
                  }
                </div>
              }
              <p class="mb-0 fw-light">{{movie.overview}}</p>
              <button class="w-75 mt-2 py-2 rounded-2 btn btn-success">
                <i class="me-2 fa-solid fa-circle-play"></i>
                <span translate="home.watchTrailer"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>
