<main class="mb-5">
  <app-media-intro [medias]="trending" [genres]="genres"></app-media-intro>
  <div class="container">
    <app-media-inset-info [title]="'upComing'" [medias]="upComing" [genres]="genres"></app-media-inset-info>
    <app-media-popular [type]="'movie'" [title]="'nowPlaying'" [medias]="nowPlaying"></app-media-popular>
    <app-media-inset-info [title]="'popular'" [medias]="popular" [genres]="genres"></app-media-inset-info>
    <app-media-outset-info [title]="'topRated'" [medias]="topRated" [genres]="genres"></app-media-outset-info>
    <app-media-people [title]="'actors'" [people]="actors"></app-media-people>
    <app-media-people [title]="'actresses'" [people]="actresses"></app-media-people>
  </div>
</main>
