:host ::ng-deep {
  .p-carousel-item {
    text-align: center;
  }
  .p-ripple {
    color: white;
    border-radius: 50%;
    background-color: var(--ripple-bgc);
    &.p-disabled {
      opacity: 0;
    }
  }
}
