a > div {
  background: linear-gradient(0deg, rgba(13,12,15,1) 0%, rgba(0,0,0,0.5) 85%, transparent 95%);
}
:host ::ng-deep {
  .p-carousel-item {
    text-align: center;
  }
  .p-ripple {
    color: white;
    border-radius: 50%;
    background-color: var(--ripple-bgc);
    &.p-disabled {
      opacity: 0;
    }
  }
}
