section {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  p {
    color: var(--story-color);
  }
  .company {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
